{% extends 'base.html' %}
{% block title %}{{ game.title }}{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/dm.css' %}"/>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="border border-secondary rounded d-flex align-items-end mx-5 flex-fill"
             style="overflow: hidden; height: 400px; background-image: url({% static game.logo|cut:'library/static/' %}); background-size: cover; background-position: center; background-repeat: no-repeat">
            <div class="border-top border-secondary p-3 bg-dark mt-5 flex-fill text-center d-flex justify-content-between">
                {% if user.is_authenticated %}
                    <div class="d-flex bg-black border rounded border-black mx-5">
                        {% if game in owned_games %}
                            <button type="button" class="btn btn-success" disabled>Already Owned</button>
                        {% elif game.id|slugify in cart %}
                            <a href="{% url 'cart' %}">
                                <button type="button" class="btn btn-secondary">Already in Cart</button>
                            </a>

                        {% else %}
                            <a href="{% url 'cart-add' game.id %}">
                                <button type="button" class="btn btn-success">Add to Cart</button>
                            </a>
                        {% endif %}
                        <div class="p-2"><b>${{ game.price }}</b></div>
                    </div>
                    <div>
                        {% if game in owned_games %}
                        {% elif game in wish_list %}
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="remove-wishlist"
                                        class="btn btn-danger border border-black rounded mx-5">
                                    Remove from Wishlist
                                </button>
                            </form>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="add-wishlist"
                                        class="btn btn-success border border-black rounded mx-5">
                                    Add to Wishlist
                                </button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="border border-secondary rounded mx-5 mt-2 bg-dark" style="overflow: hidden">
        <h1 class="text-center mt-3">{{ game.title }}</h1>
        <div class="border-top border-secondary mx-2 my-2"></div>
        <div class="d-flex p-2">
            <div class="flex-fill">
                <table class="table table-dark table-borderless" style="horiz-align: left">
                    <tbody>
                    <tr>
                        <th class="text-end" scope="row">Release Date:</th>
                        <td colspan="2">{{ game.release|date }}</td>
                    </tr>
                    <tr>
                        <th class="text-end" scope="row">Genre:</th>
                        <td colspan="2">
                            {% for genre in game.genre.all %}
                                {% if game.genre.last == genre %}
                                    {{ genre.name }}
                                {% else %}
                                    {{ genre.name }},
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-end" scope="row">Developer:</th>
                        <td colspan="2">
                            {% for developer in game.developer.all %}
                                {% if game.developer.last == developer %}
                                    {{ developer.name }}
                                {% else %}
                                    {{ developer.name }},
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-end" scope="row">Publisher:</th>
                        <td colspan="2">
                            {% for publisher in game.publisher.all %}
                                {% if game.publisher.last == publisher %}
                                    {{ publisher.name }}
                                {% else %}
                                    {{ publisher.name }},
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                {% if user.is_authenticated %}
                    <div class="border-top border-secondary"></div>
                    <div class="p-3 my-3 text-center">
                        <p>Friends who own this game:</p>
                        <div class="border border-secondary rounded d-flex justify-content-center p-3">
                            {% for friend in my_friends %}
                                {% if game in friend.owned_games.all %}
                                    <a href="{% url 'profile' pk=friend.user.id %}"
                                       class="border border-secondary rounded w-25 p-2  mx-2 hoverme link-light link-underline link-underline-opacity-0">
                                        <div class="d-flex justify-content-center align-content-center">
                                            {% if friend.avatar %}
                                                <img class="border border-secondary rounded"
                                                     src="{% static friend.avatar|cut:'library/static/' %}"
                                                     style="width: 40px; height: 40px" alt="friend-avatar">
                                            {% else %}
                                                <img class="border border-secondary rounded"
                                                     src="{% static 'avatars/default-profile.png' %}"
                                                     style="width: 40px; height: 40px" alt="friend-default-avatar">
                                            {% endif %}
                                            <div class="ms-2"
                                                 style="display: flex; align-items: center; justify-content: center">
                                                <b>{{ friend }}</b>
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="border border-secondary rounded mx-5 mt-2 bg-dark" style="overflow: hidden">
        <div class="flex-fill p-3 mt-2">
            <div class="text-center d-flex justify-content-between mx-5 pb-3" style="align-items: center">
                <h3>Reviews from our users</h3>
                <a href="{% url 'game-add-review' game.id %}">
                    <button type="button" class="btn btn-success border border-black rounded mx-5">
                        Add Review
                    </button>
                </a>
            </div>
            <div class="border border-secondary rounded d-flex flex-column align-items-center"
                 style="max-height: 30em; overflow-y: auto;">
                {% for x in reviews %}
                    <div class="p-2 w-75 mt-2">
                        <table class="table table-dark" style="table-layout:fixed; word-wrap: break-word">
                            <tbody>
                            <tr>
                                <th class="col-md-4 text-end" scope="row">User:</th>
                                <td>
                                    <a href="{% url 'profile' x.user.user_id %}"
                                       class="link-light link-underline link-underline-opacity-0">
                                        {{ x.user }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th class='col-md-4 text-end' scope="row">Positive:</th>
                                <td>{{ x.is_positive }}</td>
                            </tr>
                            <tr>
                                <th class='col-md-4 text-end' scope="row">Review:</th>
                                <td>{{ x.review_content }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                {% empty %}
                    No reviews for this game
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

