{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% load static %}
{% block about %}active{% endblock %}

{% block content %}
    <div class="border border-secondary rounded">
        <h1 class="text-center p-3">About</h1>
        <div class="border-top border-secondary mx-3"></div>
        <h3 class="text-center p-3">About page goes here</h3>
        <h3 class="text-center p-3">About page goes here</h3>
        <h3 class="text-center p-3">About page goes here</h3>
        <h3 class="text-center p-3">About page goes here</h3>
    </div>
{% endblock %}


