{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block home %}active{% endblock %}

{% block content %}
    <div class="border border-secondary rounded" style="overflow: hidden">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    {% if last_games.0.logo %}
                        <img src="{% static last_games.0.logo|cut:'library/static' %}" class="d-block w-100" alt="...">
                    {% else %}
                        <img src="https://placehold.co/800x400/grey/white/png" class="d-block w-100" alt="...">
                    {% endif %}
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ last_games.0.title }}</h5>
                        <p>
                            {% for genre in last_games.0.genre.all %}
                                {{ genre.name }}
                            {% endfor %}
                        </p>
                        <p>${{ last_games.0.price }}</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/800x400/grey/white/png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ last_games.1.title }}</h5>
                        <p>
                            {% for genre in last_games.1.genre.all %}
                                {{ genre.name }}
                            {% endfor %}
                        </p>
                        <p>${{ last_games.1.price }}</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/800x400/grey/white/png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ last_games.2.title }}</h5>
                        <p>
                            {% for genre in last_games.2.genre.all %}
                                {{ genre.name }}
                            {% endfor %}
                        </p>
                        <p>${{ last_games.2.price }}</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="border border-secondary rounded mt-3">
        <h1 class="text-center p-3">Something</h1>
        <div class="border-top border-secondary mx-3"></div>
        <h3 class="text-center p-3">Anything goes here</h3>
    </div>
{% endblock %}


