{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}
{% load static %}
{% block extra_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/dm.css' %}"/>
{% endblock %}
{% block content %}
    <div class="d-flex">
        <div id="to-hover" class="border border-4 overflow-hidden border-secondary rounded d-flex mx-3"
             style="width: 256px; height: 256px">
            <div id="to-show" class="position-absolute mx-2 my-2">
                <a href="{% url 'profile-avatar-update' %}">
                    <button type="button" class="btn btn-success btn-sm px-2">🖉</button>
                </a>
                <a href="{% url 'profile-avatar-delete' %}">
                    <button type="button" class="btn btn-danger btn-sm px-2">×</button>
                </a>
            </div>
            {% if not profile.avatar %}
                <img id="to-hover" class="img-fluid" src="{% static 'avatars/default-profile.png' %}">
            {% else %}
                <img id="to-hover" class="img-fluid" src="{% static profile.avatar|cut:'library/static/' %}">
            {% endif %}
        </div>
        <div class="d-flex mx-5 align-items-center">
            <table class="table table-dark table-borderless" style="horiz-align: left">
                <tbody>
                <tr>
                    <th class="text-end" scope="row">Login:</th>
                    <td colspan="2">{{ user.username }}</td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">Display Name:</th>
                    <td colspan="2">
                        {{ profile.display_name }}
                        <a href="{% url 'profile-display-update' %}">
                            <button type="button" class="btn btn-secondary"
                                    style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                Change Nickname
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">Email:</th>
                    <td colspan="2">
                        {{ user.email }}
                        <a href="{% url 'profile-email-update' %}">
                            <button type="button" class="btn btn-secondary"
                                    style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                Change Email
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">Joined:</th>
                    <td colspan="2">{{ user.date_joined|date }}</td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">Last Login:</th>
                    <td colspan="2">{{ user.last_login }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="p-3 d-flex">
        <div class="border-top border-secondary flex-fill text-center py-3 w-50">
            <h3>My Games</h3>
            <div class="border p-3 my-3 mx-3 border-secondary"
                 style="height: 400px; max-height: 400px; overflow-y: scroll">
                <table id='table-publishers'
                       data-toggle="table"
                       data-search="true"
                       data-filter-control="true"
                       class="table table-dark table-hover">
                    <tbody id="myTable-publishers">
                    {% for game in games %}
                        <tr style="transform: rotate(0)">
                            <td class="d-flex justify-content-end" style="vertical-align: middle;">
                                {% if game.game.avatar %}
                                <img class='border border-secondary rounded' src="{% static game.game.avatar|cut:'library/static/' %}" style="height: 40px; width: 40px">
                                {% else %}
                                <img class='border border-secondary rounded' src="{% static 'game/avatar/placeholder.png' %}" style="height: 40px; width: 40px">
                                {% endif %}
                            </td>
                            <td style="vertical-align: middle;">
                                <a href="{% url 'game-read-detail' game.game.id %}"
                                   class="d-flex justify-content-start stretched-link link-light link-underline-opacity-0">{{ game.game.title }}
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <td style="vertical-align: middle">No owned games yet</td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="border-top border-secondary flex-fill text-center py-3 w-50">
            <h3>My Friends</h3>
            <div class="border p-3 my-3 mx-3 border-secondary"
                 style="height: 400px; max-height: 400px; overflow-y: scroll">
                <div class="btn-group pb-3" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="friends" autocomplete="off"
                           checked>
                    <label class="btn btn-outline-secondary" for="friends">Friend List</label>

                    <input type="radio" class="btn-check" name="btnradio" id="requests-received" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="requests-received">Received</label>

                    <input type="radio" class="btn-check" name="btnradio" id="requests-sent" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="requests-sent">Sent</label>
                </div>
                <table id="myTable-requests-received" class="table table-dark table-hover" style="display: none">
                    <tbody id="myTable">
                    {% for frequest in friend_requests_received %}
                        <tr>
                            <td style="vertical-align: middle">{{ frequest }}</td>
                            <td style="vertical-align: middle">{{ frequest.timestamp|date }}</td>
                            <td style="vertical-align: middle">
                                <div class="d-flex">
                                    <form method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success mx-1" name="accept"
                                                value="{{ frequest.receiver.id }}" style="--bs-btn-padding-y: .1rem;
                                                --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;
                                        ">
                                            ✓
                                        </button>
                                    </form>
                                    <form method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger mx-1" name="decline"
                                                value="{{ frequest.receiver.id }}" style="--bs-btn-padding-y: .1rem;
                                                --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;
                                        ">
                                            ✕
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <td style="vertical-align: middle">No active requests</td>
                    {% endfor %}
                    </tbody>
                </table>
                <table id="myTable-requests-sent" class="table table-dark table-hover" style="display: none">
                    <tbody id="myTable">
                    {% for frequest in friend_requests_sent %}
                        <tr>
                            <td style="vertical-align: middle">{{ frequest.receiver }}</td>
                            <td style="vertical-align: middle">{{ frequest.timestamp|date }}</td>
                            <td style="vertical-align: middle">
                                <div class="d-flex">
                                    <form method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger mx-1" name="cancel"
                                                value="{{ frequest.receiver.id }}" style="--bs-btn-padding-y: .1rem;
                                                --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;
                                        ">
                                            ✕
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <td style="vertical-align: middle">No active requests</td>
                    {% endfor %}
                    </tbody>
                </table>
                <table id='myTable-friends'
                       data-toggle="table"
                       data-search="true"
                       data-filter-control="true"
                       class="table table-dark table-hover">
                    <tbody id="myTable">
                    {% for friend in friendlist %}
                        <tr style="transform: rotate(0)">
                            <th scope="row"><a href="{% url 'profile' friend.user.id %}" class="stretched-link"></a>
                            </th>
                            <td>
                                <div class="d-flex justify-content-start mx-5" style="">
                                    {% if friend.avatar %}
                                        <img class="border border-secondary rounded"
                                             src="{% static friend.avatar|cut:'library/static/' %}"
                                             style="width: 40px; height: 40px">
                                    {% else %}
                                        <img class="border border-secondary rounded"
                                             src="{% static 'avatars/default-profile.png' %}"
                                             style="width: 40px; height: 40px">
                                    {% endif %}
                                    <div class="ms-4"
                                         style="display: flex; align-items: center; justify-content: center">
                                        <b>{{ friend }}</b>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td style="vertical-align: middle">No added friends yet</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% for x in reviews %}
        {{ x }}
    {% endfor %}
    <script>
        $("#requests-sent").click(function () {
            $("#myTable-requests-received").hide();
            $("#myTable-friends").hide();
            $("#myTable-requests-sent").show();
        })
    </script>
    <script>
        $("#requests-received").click(function () {
            $("#myTable-requests-sent").hide();
            $("#myTable-friends").hide();
            $("#myTable-requests-received").show();
        })
    </script>
    <script>
        $("#friends").click(function () {
            $("#myTable-requests-sent").hide();
            $("#myTable-requests-received").hide();
            $("#myTable-friends").show();
        })
    </script>
{% endblock %}