{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}
{% load static %}
{% block extra_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/dm.css' %}"/>
{% endblock %}
{% block content %}
    <div class="d-flex">
        <div id="to-hover" class="border border-4 overflow-hidden border-secondary rounded d-flex mx-3"
             style="width: 256px; height: 256px">
            <div id="to-show" class="position-absolute mx-2 my-2">
                <a href="{% url 'profile-avatar-update' %}">
                    <button type="button" class="btn btn-success btn-sm px-2">🖉</button>
                </a>
                <a href="{% url 'profile-avatar-delete' %}">
                    <button type="button" class="btn btn-danger btn-sm px-2">×</button>
                </a>
            </div>
            {% if not profile.avatar %}
                <img id="to-hover" class="img-fluid" src="{% static 'avatars/default-profile.png' %}">
            {% else %}
                <img id="to-hover" class="img-fluid" src="{% static profile.avatar|cut:'library/static/' %}">
            {% endif %}
        </div>
        <div class="d-flex mx-5 align-items-center">
            <table class="table table-dark table-borderless" style="horiz-align: left">
                <tbody>
                <tr>
                    <th class="text-end" scope="row">Login:</th>
                    <td colspan="2">{{ user.username }}</td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">Display Name:</th>
                    <td colspan="2">
                        {{ profile.display_name }}
                        <a href="{% url 'profile-display-update' %}">
                            <button type="button" class="btn btn-secondary"
                                    style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                Change Nickname
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">Email:</th>
                    <td colspan="2">
                        {{ user.email }}
                        <a href="{% url 'profile-email-update' %}">
                            <button type="button" class="btn btn-secondary"
                                    style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                Change Email
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">Joined:</th>
                    <td colspan="2">{{ user.date_joined|date }}</td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">Last Login:</th>
                    <td colspan="2">{{ user.last_login }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="p-3 d-flex">
        <div class="border-top border-secondary flex-fill text-center py-3 w-50">
            <h3>My Games</h3>
            <div class="border p-3 my-3 mx-3 border-secondary" style="max-height: 400px; overflow-y: scroll">
                <table id='table-publishers'
                       data-toggle="table"
                       data-search="true"
                       data-filter-control="true"
                       class="table table-dark table-hover">
                    <tbody id="myTable-publishers">
                    {% for game in games %}
                        <td style="vertical-align: middle">#</td>
                        <td style="vertical-align: middle">{{ game.game.title }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="border-top border-secondary flex-fill text-center py-3 w-50">
            <h3>My Friends</h3>
            <div class="border p-3 my-3 mx-3 border-secondary" style="max-height: 400px; overflow-y: scroll">
                friends go here
            </div>
        </div>
    </div>
{% endblock %}