{% extends 'base.html' %}
{% block title %}{{ profile.display_name }} Profile{% endblock %}
{% block content %}
    {% load static %}

    <div class="d-flex">
        <div class="border border-4 overflow-hidden border-secondary rounded d-flex mx-3"
             style="width: 256px; height: 256px">
            {% if not profile.avatar %}
                <img id="to-hover" class="img-fluid" src="{% static 'avatars/default-profile.png' %}">
            {% else %}
                <img id="to-hover" class="img-fluid" src="{% static profile.avatar|cut:'library/static/' %}">
            {% endif %}
        </div>
        <div class="d-flex mx-5 align-items-center">
            <table class="table table-dark table-borderless" style="horiz-align: left">
                <tbody>
                <tr>
                    <th class="text-end" scope="row">Display Name:</th>
                    <td colspan="2">{{ profile.display_name }}</td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">Joined:</th>
                    <td colspan="2">{{ profile.user.date_joined|date }}</td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">Last Login:</th>
                    <td colspan="2">{{ profile.user.last_login }}</td>
                </tr>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    {% if not is_requested %}
                        <th class="text-end" scope="row">
                            <a href="{% url 'profile-add-friend' profile.user.id %}">
                                <button type="button" class="btn btn-success" style="--bs-btn-padding-y: .1rem;
                                                --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;
                                        ">Invite to Friends</button>
                            </a>
                        </th>
                    {% else %}
                        <th class="text-end" scope="row">
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" name="cancel2"
                                        value="{{ is_requested.first.receiver.id }}" style="--bs-btn-padding-y: .1rem;
                                                --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;
                                        ">
                                    Cancel Friend Request
                                </button>
                            </form>
                        </th>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="p-3 d-flex">
        <div class="border-top border-secondary flex-fill text-center py-3">
            <p>SMALL GAME LIST</p>
            <div class="border p-3 my-3 mx-3">
                games go here
            </div>
        </div>
        <div class="border-top border-secondary flex-fill text-center py-3">
            FRIEND LIST HERE
            <div class="border p-3 my-3 mx-3">
                friends go here
            </div>
        </div>
    </div>
{% endblock %}


